/* Common elements across all pages */

	body {
		background-color: #d5d2cb; /* in flowers by kinkajou888 – colourlovers.com */			
	}	
	#restaurant {
		font-family: Fantasy, Arial, Helvetica, sans-serif;
		text-align: center;	
	}
	#navigation {
		font-family: Arial;
	}
	hr {
		border-top: 3px double #5b7d87; /*hush by oblivious – colourlovers.com */
		border-bottom: 3px solid #5b7d87;
	}
	
	a {
		font-family: serif;
		padding: 30px;
	}
	
	a:link {
	}
	
	a:hover {
		font-weight: bold;
	}
	
	a:active {
		text-decoration: none;
	}
		
	a:visited {
		color: blue;
	}
		
	footer {
		text-align: center;
	}
	
	label {
		font-weight: bold;
	}